
body {
    background-color: white;
    color: black;
}

button {
    border-radius: 20px!important;
    box-shadow: inset 0 0 5px black;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#feedback {
    color: darkred;
    border-radius: 20px;
    background-color: rgb(199, 124, 105, 0.6);
    padding-top: 0.5rem;
}

#update{
    color: darkgreen;
    border-radius: 20px;
    background-color: lightgreen;
    padding-top: 0.5rem;
}

#theme {
    color: white;
    min-height: 25vh;
    background-position: center;
    background-size: cover;
}

.special {
    font-family: 'Delicious Handrawn', cursive;
}

.card-img-top {
    height: 10rem!important;
    width: 100%!important;
}

.card:hover{
    scale:1.05;
    box-shadow: 0 0 5px 2px darkgray;
    transition: 0.2s ease-in-out;
}