{% extends 'base.html' %}

{% block links %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
<link href="../static/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container pb-5">
    <div class="row" id="theme" {% if session.get('theme') %}
        style="background-image: url( {{'/static/uploads/' + session['theme'] }} );" {% else %}
        style="background-image:url('/static/images/theme2.jpg');" {% endif %}>
    </div>
    <div class="row">
        <div class="col-md-7 ms-auto">
            <div class="row" id='header'>
                <div class="col-3">
                    <img {% if session.get('img') %} src="{{'/static/uploads/' +  session['img'] }}" {% else %}
                        src="/static/images/default.png" {% endif %} class="img-fluid" id="profile">
                </div>
                <div class="col-5 align-self-center">
                    <h2>{{ session['first_name']}} {{ session['last_name']}} <a href="/account/edit"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg></a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="row py-4">
                        <div class="col text-center" id="update">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="row pt-3">
                        <h2 class="special pb-3">My Recipes:</h2>
                        {% if data %}
                        {% for row in data %}
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <a href="/recipe/{{ row.id }}/view" class="stretched-link"></a>
                                <img src="/static/uploads/{{ row.img }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ row.name }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %} 
                        <div class="col-md-8 pt-4">
                            <h5>Visit the 'My Recipes' Page to see some here!</h5>
                        </div>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row-reverse py-3">
                        <div class="col-md-4 text-end">
                            <a href="/recipes">{{ link_msg }} -></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="message">

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 py-3 text-center" id="quote">
            <div class="row">
                <div class="col-auto align-self-center">
                    <blockquote>"Without experimentation, a willingness to ask questions and try new things, we shall surely become static, repetitive, and moribund."</blockquote>
                    <cite>-<em>Anthony Bourdain</em></cite>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}